<nav>
  <ul>
    <li><strong>DottyDNS</strong></li>
    <% if user_signed_in? %>
      <li><%= link_to "Blocklists", blocklists_path %></li>
      <li><%= link_to "DNS Records", dns_records_path %></li>
    <% end %>
  </ul>
  <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to edit_user_registration_path do %>
          <%= user_avatar(current_user.name) %>
        <% end %>
      </li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
